.Login {
  background-color: #76A5E7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weigth: 900;
}

.Login .card {
  width: 450px;
  height: 470px;
  border-radius: 30px;
  background-color: #f7f7f7;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Login .card .signup-link {
  color: #025497;
  font-weight: bold;
  font-size: 15px;
}

.Login .card .signup-link span {
  color: #0e91db;
}

.Login .card img {
  width: 150px;
}

.Login .card .error {
  color: red;
}

.Login .card button {
  width: 150px;
  height: 40px;
  left: 620px;
  top: 681px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, right top, left top, color-stop(8.45%, rgba(14, 145, 219, 0.6862)), color-stop(68.07%, rgba(2, 84, 151, 0.73)));
  background: linear-gradient(270deg, rgba(14, 145, 219, 0.6862) 8.45%, rgba(2, 84, 151, 0.73) 68.07%);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.Login .card .h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 15px;
  margin-top: 10px;
}

.Login .card .text {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(118, 165, 231, 0.85), inset 0px 4px 4px rgba(118, 165, 231, 0.85);
          box-shadow: 0px 4px 4px rgba(118, 165, 231, 0.85), inset 0px 4px 4px rgba(118, 165, 231, 0.85);
}

.Login .card .first-text {
  margin-bottom: 20px;
}

.Login .card .second-text {
  margin-bottom: 15px;
}

.Login .card input::-webkit-input-placeholder {
  text-align: center;
  font-weight: bold;
  color: #003968;
  font-size: 15px;
}

.Login .card input:-ms-input-placeholder {
  text-align: center;
  font-weight: bold;
  color: #003968;
  font-size: 15px;
}

.Login .card input::-ms-input-placeholder {
  text-align: center;
  font-weight: bold;
  color: #003968;
  font-size: 15px;
}

.Login .card input::placeholder {
  text-align: center;
  font-weight: bold;
  color: #003968;
  font-size: 15px;
}

.Login .card .lower-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Login .card .lower-options .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  color: #025497;
}

.Login .card .lower-options .right {
  color: #0e91db;
}

.Home {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home img {
  width: 300px;
  margin-bottom: 100px;
}

.Home button {
  background: -webkit-gradient(linear, left top, left bottom, from(#025497), to(#4F9ACC));
  background: linear-gradient(180deg, #025497 0%, #4F9ACC 100%);
  border-radius: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.Home button:first-child {
  margin-right: 50px;
}

.signup {
  height: 100%;
  background-color: #76A5E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup .card {
  padding: 10px;
  background-color: #f7f7f7;
  width: 400px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #025497;
  font-weight: bold;
}

.signup .card h1 {
  font-size: 25px;
  font-weight: bolder;
  color: black;
  margin-bottom: 20px;
}

.signup .card img {
  height: 50px;
}

.signup .card div {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup .card input {
  -webkit-box-shadow: 0px 8px 8px rgba(118, 165, 231, 0.85), inset 0px 4px 4px rgba(118, 165, 231, 0.85);
          box-shadow: 0px 8px 8px rgba(118, 165, 231, 0.85), inset 0px 4px 4px rgba(118, 165, 231, 0.85);
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.signup .card button {
  background: -webkit-gradient(linear, right top, left top, color-stop(8.45%, rgba(14, 145, 219, 0.6862)), color-stop(68.07%, rgba(2, 84, 151, 0.73)));
  background: linear-gradient(270deg, rgba(14, 145, 219, 0.6862) 8.45%, rgba(2, 84, 151, 0.73) 68.07%);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.signup .card .login {
  color: #59B3E6;
  font-size: 13px;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(11.77%, #76a5e7), color-stop(39.27%, rgba(76, 136, 200, 0.95)), color-stop(74.62%, #025497));
  background: linear-gradient(90deg, #76a5e7 11.77%, rgba(76, 136, 200, 0.95) 39.27%, #025497 74.62%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.navbar img {
  height: 100%;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .right .block {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .right .block:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar .right .selected {
  text-decoration: underline;
}

.my-reservations {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  position: relative;
  top: 100px;
}

.my-reservations img {
  height: 150px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 30px;
}

.my-reservations h1 {
  margin-top: 20px;
}

.my-reservations h2 {
  margin-bottom: 20px;
}

.my-reservations .table {
  margin-bottom: 30px;
  font-size: 15px;
}

.my-reservations .table button {
  padding: 5px;
  background-color: #ff5252;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.my-reservations .table .names {
  background-color: #236bab;
  border-radius: 15px 15px 0 0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.my-reservations .table .row-values {
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.my-reservations .table .row-values:hover {
  background-color: lightgray;
}

.my-reservations .table .id {
  width: 8%;
}

.my-reservations .table .fecha {
  width: 15%;
}

.my-reservations .table .hora-inicio {
  width: 9%;
}

.my-reservations .table .hora-fin {
  width: 9%;
}

.my-reservations .table .motivo {
  width: 44%;
}

.my-reservations .table .boton-cancelar {
  width: 15%;
}

.make-reservations {
  position: relative;
  top: 100px;
  padding: 0 30px 100px 30px;
}

.make-reservations img {
  height: 150px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 30px;
}

.make-reservations h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.make-reservations textarea {
  resize: none;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid gray;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.make-reservations input {
  width: 60px;
}

.make-reservations div {
  margin-bottom: 20px;
}

.make-reservations div p {
  margin-bottom: 5px;
}

.make-reservations button {
  background-color: #236bab;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-reservation {
  padding: 0 30px 100px 30px;
  position: relative;
  top: 100px;
}

.cancel-reservation h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.cancel-reservation h3 {
  margin-top: 30px;
}

.cancel-reservation textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cancel-reservation img {
  height: 150px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 30px;
}

.cancel-reservation .table {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 15px;
}

.cancel-reservation .table button {
  padding: 5px;
  background-color: #ff5252;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.cancel-reservation .table .names {
  background-color: #236bab;
  border-radius: 15px 15px 0 0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cancel-reservation .table .row-values {
  border: 1px solid lightgray;
  border-radius: 0 0 15px 15px;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cancel-reservation .table .id {
  width: 8%;
}

.cancel-reservation .table .fecha {
  width: 15%;
}

.cancel-reservation .table .hora-inicio {
  width: 10%;
}

.cancel-reservation .table .hora-fin {
  width: 10%;
}

.cancel-reservation .table .motivo {
  width: 27%;
}

.users {
  position: relative;
  top: 100px;
  padding: 20px 30px 100px 30px;
}

.users .table {
  margin-bottom: 30px;
  font-size: 15px;
  margin-top: 30px;
}

.users .table button {
  padding: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 15px;
  cursor: pointer;
}

.users .table .red {
  background-color: #ff5252;
}

.users .table .green {
  background-color: #6cc96c;
}

.users .table .names {
  background-color: #236bab;
  border-radius: 15px 15px 0 0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.users .table .row-values {
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.users .table .row-values:hover {
  background-color: #eeeeee;
}

.users .table .id {
  width: 5%;
}

.users .table .usuario {
  width: 30%;
}

.users .table .correo {
  width: 30%;
}

.users .table .telefono {
  width: 10%;
}

.users .table .tipo {
  width: 10%;
}

.users .table .cambiar-rol {
  width: 15%;
}

.admincreatereservations {
  position: relative;
  top: 100px;
  padding: 20px 30px 100px 30px;
}

.admincreatereservations img {
  height: 150px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 30px;
}

.admincreatereservations h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.admincreatereservations textarea {
  resize: none;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid gray;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.admincreatereservations input {
  width: 60px;
}

.admincreatereservations select {
  margin-bottom: 20px;
}

.admincreatereservations div {
  margin-bottom: 20px;
}

.admincreatereservations p {
  margin-bottom: 5px;
}

.admincreatereservations button {
  background-color: #236bab;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.reservations {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  position: relative;
  top: 100px;
}

.reservations img {
  height: 150px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 30px;
}

.reservations h1 {
  margin-top: 20px;
}

.reservations h2 {
  margin-bottom: 20px;
}

.reservations .table {
  margin-bottom: 30px;
  font-size: 15px;
}

.reservations .table button {
  padding: 5px;
  background-color: #ff5252;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.reservations .table .names {
  background-color: #236bab;
  border-radius: 15px 15px 0 0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.reservations .table .row-values {
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.reservations .table .row-values:hover {
  background-color: #eeeeee;
}

.reservations .table .id {
  width: 8%;
}

.reservations .table .usuario {
  width: 10%;
}

.reservations .table .fecha {
  width: 15%;
}

.reservations .table .hora-inicio {
  width: 9%;
}

.reservations .table .hora-fin {
  width: 9%;
}

.reservations .table .motivo {
  width: 34%;
}

.reservations .table .boton-cancelar {
  width: 15%;
}

body {
  height: 100vh;
}

#app, .App {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.pointer {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */